files:
  "/etc/nginx/conf.d/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      client_max_body_size 32M;
      client_body_buffer_size 32M;
      
      # Increase buffer sizes
      proxy_buffer_size 256k;
      proxy_buffers 8 256k;
      proxy_busy_buffers_size 512k;
      proxy_temp_file_write_size 512k;
      proxy_max_temp_file_size 0;
      
      # Increase header buffer size
      large_client_header_buffers 8 256k;
      
      # Increase timeouts
      proxy_connect_timeout 300;
      proxy_send_timeout 300;
      proxy_read_timeout 300;
      
      # Increase hash sizes for headers
      proxy_headers_hash_max_size 1024;
      proxy_headers_hash_bucket_size 256;
      
      # Enable request buffering
      proxy_request_buffering on;
      
      # Compression settings
      gzip on;
      gzip_comp_level 4;
      gzip_types text/plain text/css application/json application/javascript application/x-javascript text/xml application/xml application/xml+rss text/javascript;

option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

container_commands:
  01_reload_nginx:
    command: "service nginx reload"