option_settings:
  aws:elasticbeanstalk:application:environment:
    UPLOAD_FOLDER: /tmp/uploads
    VERSIONS_FOLDER: /tmp/versions
    PYTHONPATH: "/var/app/current"
    FLASK_ENV: production
    S3_BUCKET_NAME: genas-storage-241130
    AWS_REGION: us-east-1
  aws:elasticbeanstalk:container:python:
    WSGIPath: app:app
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

container_commands:
  01_create_upload_dir:
    command: "mkdir -p /tmp/uploads && chmod 777 /tmp/uploads"
  02_create_versions_dir:
    command: "mkdir -p /tmp/versions && chmod 777 /tmp/versions"
  03_create_sessions_dir:
    command: "mkdir -p /tmp/genas_sessions && chmod 777 /tmp/genas_sessions"